#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.counter-button {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid rgba(188, 120, 120, 0.2);
  background: rgba(109, 91, 91, 0.05);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  padding: 0;
  transform: scale(1);
  transition: transform 0.1s ease, background 0.1s ease;
}

.counter-button:active:hover {
  background: rgba(109, 91, 91, 0.2);
  transform: scale(0.95);
}

/* Ensure active state works on touch devices */
.counter-button:active {
  background: rgba(109, 91, 91, 0.2);
  transform: scale(0.95);
}
